@model Gestione_Impiegati_ASPWEB.Models.Impiegato


<h1>Prodotto @Model.Matricola</h1>

<ul class="list-group">
    <li class="list-group-item">Nome: @Model.Nome</li>
    <li class="list-group-item">Cognome: @Model.Cognome</li>
    <li class="list-group-item">Data Nascita: @Model.DataNascita</li>
    <li class="list-group-item">Ruolo: @Model.Ruolo</li>
    <li class="list-group-item">Reparto: @Model.RepartoRif</li>
    <li class="list-group-item">Indirizzo: @Model.Indirizzo</li>
    <li class="list-group-item">Citta: @Model.Citta</li>
    <li class="list-group-item">Provincia: @Model.Provincia</li>
</ul>